/* style.css */
.todoitem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #d6caca63;
  border-radius: 5px;
  margin: 10px 10%;
  width: 80%;
}

.todoitem span {
  margin-right: 10px;
}

.todoitem button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todoitem button:hover {
  background-color: #c99b95;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .todoitem {
    flex-direction: column;
    align-items: flex-start;
  }

  .todoitem span {
    margin-bottom: 5px;
  }

  .todoitem button {
    align-self: flex-end;
  }
}
